button {
    font-size: large;
    width:auto;
}

.calculator {

  display: grid;
  background-color: #36454F;
  width: 40vw;
  padding: 2%;
  border: 1px solid #f5f1ee;
  border-radius: 5%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  border-radius: 5%;
}

.grid-container-input {
  display: grid;
  grid-template-columns: auto;
  background-color: #f5f1ee;
  text-align: left;
  margin-bottom: 1%;
  font-size: large;
  border: 1px solid #f5f1ee;
  border-radius: 10px;
  padding: 1%;
}
.grid-item {
  background-color: #f2f6b5;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin:1% 1%;
  font-size: 30px;
  text-align: center;
  border-radius: 5%
}

.grid-item-input {
  background-color: #f5f1ee;
  padding: 20px;
  font-size: 30px;
}
